[submodule "hicodet"]
	path = hicodet
	url = https://github.com/fredzzhang/hicodet.git
[submodule "vcoco"]
	path = vcoco
	url = https://github.com/fredzzhang/vcoco.git
[submodule "pocket"]
	path = pocket
	url = https://github.com/fredzzhang/pocket.git
[submodule "detr"]
	path = detr
	url = https://github.com/fredzzhang/detr.git
